{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 2020,
		"sourceType": "module"
	},
	"ignorePatterns": [
		"*.cjs",
		"packages/",
		"pnpm-lock.yaml",
		"README.md",
		"src/app.html",
		"*.svg",
		"*.png",
		"*.ico",
		"*.ttf",
		"netlify.toml"
	],
	"env": {
		"es2020": true,
		"node": true, // for config files
		"browser": true
	},
	"extends": ["eslint:recommended"],
	"overrides": [
		{
			"files": ["*.svelte"],
			"parser": "svelte-eslint-parser",
			"parserOptions": {
				"parser": "@typescript-eslint/parser"
			},
			"env": {
				"browser": true,
				"node": false
			}
		},
		{
			"files": ["src /**/*.ts", "src /**/*.js"],
			"env": {
				"browser": true,
				"node": false
			}
		},
		{
			"files": ["*.spec.ts"]
		}
	]
}
