@tailwind base;
@tailwind components;
@tailwind utilities;

#svelte {
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;
	display: flex;
	flex-direction: column;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

button:focus:not(:focus-visible) {
	outline: none;
}

::-webkit-scrollbar {
	display: none;
}
