:root {
	--text-color: #444444;
	--logo-color: rgba(27, 160, 133, 1);
	--light-background: #f9f8f9;
	--light-secondary: #fff;
	--dark-background: #172029;
	--dark-secondary: #1c1f28;
	--dark-thirty: rgba(25, 25, 25, 1);
}

body {
	font-family: 'Poppins', sans-serif;
	min-height: 100vh;
	margin: 0;
	background-color: var(--light-background);
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

p {
	line-height: 1.5;
}

h1 {
	font-size: 2rem;
	margin-bottom: 0 0 1em 0;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

button:focus:not(:focus-visible) {
	outline: none;
}

::-webkit-scrollbar {
	display: none;
}
