{
  "root": false,
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": ["README.md", "contracts/"],
  "rules": {
    "@typescript-eslint/no-explicit-any": "error"
  }
}
