node_modules
secret.json
#Hardhat files
cache
artifacts
*.Identifier
.log

#VSCODE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


#Solidity
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

#Runtime
pids
*.pid
*.seed
*.pid.lock

# TypeScript cache
*.tsbuildinfo


# dotenv environment variables file
.env
.env.test
.env.production

#MacOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.lnk
.DS_Store

# Output
dist/

.env
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts
